.project{
  position: relative;

  &-sider{
    position: relative;
    display: -webkit-box;
    -webkit-box-flex: 1;
    -webkit-box-orient:vertical;


    &-title{
      padding: 0 10px 0 16px;
      font-size: 17px;
      height: 50px;
      width: 100%;
      line-height: 50px;
    }

    &-btn{
      float: right;
      margin-top: 16px;
      margin-left: 6px;
      font-size: 10px;
      border: 1px solid #cecece;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      cursor: pointer;

      &:hover{
        color: #108ee9;
        border-color: #108ee9;
        transition: all .5s;
      }
    }
  }

  &-list{
    overflow-y: auto;
    width: 100%;
    display: -webkit-box;
    -webkit-box-flex: 1;
    -webkit-box-orient: vertical;

    &-item{
      position: relative;
      padding: 6px 2px 6px 16px;
      cursor: pointer;
      border-right: 2px solid #fff;
      width: 100%;
      height: 36px;

      &:hover{
        .project-list-item-name{
          color: #108ee9;
        }
      }

      &-name{
        margin-left: 18px;
        font-size: 12px;
        line-height: 24px;
        color: #666;
      }

      &-active{
        background-color: #eaf7fe;
        border-color: #2db7fa;
        transition: background-color .5s;
      }

      .ant-badge{
        position: absolute;
        top: 9px;
      }

      .anticon-down{
        float: right;
        margin-top: 6px;
        margin-right: 4px;
        font-size: 10px;
        color: #aaa;
      }
    }
  }

  &-top{
    display: flex;
    position: absolute;
    height: 64px;
    top: 0;
    padding: 5px 20px 10px 0px;
    text-align: center;

    &-task{
      position: relative;
      flex: 0 0 60px;
      height: 60px;
      margin-right: 10px;
      color: #9b9b9b;
      line-height: 1.3;
      cursor: pointer;

      &:hover{
        color: #108ee9;
        transition: color .5s;
      }

      &.disable{
        color: #ddd;
        cursor: not-allowed;
      }

      .iconfont{
        display: inline-block;
        height: 40px;
        font-size: 30px;
      }
    }

    .ant-spin-nested-loading>div>.ant-spin{
      left: 0;
    }
  }

  &-tabs{
    display: flex;
    padding-top: 30px;
    flex-direction: column;
    height: 100%;

    .ant-tabs-nav-wrap{
      float: right;
    }
    .ant-tabs-nav{
      margin-right: 10px;

      .ant-tabs-tab{
        margin-right: 10px;
      }
    }

    .ant-tabs-bar{
      margin-bottom: 0;
    }

    .ant-tabs-content{
      background-color: #f5f5f5;
      padding: 10px;
      flex: 1;
      height: 100%;
    }
  }

  &-tabpane{
    height: 100%;
  }

  &-sub{
    position: relative;
    height: 100%;

    &-tabs{
      height: 100%;

      &.ant-tabs-card{

        .ant-tabs-bar{
          border-bottom: none;

          .ant-tabs-tab{
            border: none;
          }

          .ant-tabs-tab-active{
            background: #fff;
          }
        }
      }

      .ant-tabs-nav-wrap{
        float: none;
      }

      .ant-tabs-content{
        background-color: #fff;
        /*height: calc(100% - 36px);*/
        height: 100%;
      }
    }
    &-tabpane{
      position: relative;
      /*height: 100%;*/
      /*padding-bottom: 30px;*/
    }
  }

  &-setting-help{
    position: absolute;
    right: 20px;
    top: 20px;
    
    .action{
      font-size: 18px;
    }
  }

  &-dependency{
    position: relative;
    padding-top: 5px;
    height: calc(100% - 40px);

    &-update-all{
      margin-right: 10px;
    }

    &-search{
      position: absolute;
      top: 5px;
      right: 0;
    }

    &-table{
      margin-top: 15px;
    }

    &-action{
      margin-right: 10px;
      &.ant-btn{
        padding: 0px 0px;
        width: 50px;
        height: 26px;
      }
      &.del{
        margin-right: 0px;
      }
    }
  }

  &-console{
    display: flex;
    height: 100%;
  }

  &-terminal{
    position: relative;
    flex: 2 0 auto;
    height: 100%;
    padding: 10px;
    background-color: #22354c;

    &-btn{
      position: absolute;
      top: 10px;
      width: 22px;
      height: 22px;
      line-height: 22px;
      color: #7899b9;
      border: 1px solid #7899b9;
      border-radius: 50%;
      text-align: center;
      cursor: pointer;
      transition: color,border .5s;

      &:hover{
        border: 1px solid #d0e7ff;
        color: #d0e7ff;
        transition: all .5s;
      }

      &.clear{
        right: 40px;
      }

      &.expand{
        right: 10px;
      }
    }

    &-tabs{
      color: #fff;
      margin-bottom: 10px;

      &-item{
        display: inline-block;
        padding: 2px 10px;
        margin-right: 10px;
        background-color: #334e6e;
        color: #7289A5;
        border-radius: 10px;
        font-size: 12px;
        cursor: pointer;

        &:hover,
        &.active{
          background-color: #395b86;
          color: #e6e6e6;
          transition: color .5s;
        }
      }
    }

    .ant-select-selection{
      background-color: #334e6e;
      border-color: #334e6e;
      color: #e6e6e6;
      border-radius: 10px;
      height: 24px;
    }
    .ant-select-selection__placeholder{
      color: #7289A5;
    }

    .ant-select-selection__rendered{
      line-height: 22px;
    }

    &-content {
      transition: height .5s;
      font-family: monospace;
      text-align: left;
      overflow-y: auto;
      /*flex: 1;*/
      color: #fff;
      position: absolute;
      top: 40px;
      bottom: 10px;
      left: 10px;
      right: 10px;
    }
  }

  &-commands{
    flex: 0 0 200px;
    margin-left: 10px;
    background-color: #fff;
    padding: 10px;
    position: relative;

    &.hidden{
      display: none;
    }

    &-title{
      font-weight: bold;
      padding: 5px 0 10px;
      margin-bottom: 5px;
      font-size: 13px;
      color: #999;
      border-bottom: 1px solid #d2eafb;
    }

    &-btn{
      position: absolute;
      top: 15px;
      border: none;

      i{
        font-size: 16px;
      }

      &.add{
        right: 10px;
      }
      &.set{
        right: 34px;
      }
    }

    &-list{
      position: absolute;
      top: 50px;
      bottom: 10px;
      left: 10px;
      right: 10px;
      overflow-y: auto;
    }

    &-item{
      padding: 4px;
      clear: both;
      line-height: 24px;
      cursor: pointer;
      &.active,
      &:hover{
        background-color: #eaf7fe;
      }

      .iconfont{
        float: right;
        cursor: pointer;
        margin-left: 8px;
        color: #999;
        font-weight: bold;

        &:hover{
          color: #108ee9;
        }
      }
    }
  }
}