.title() {
  width: 70%;
  padding: 10px;
  margin: 20px auto 20px;
  text-align: center;
  font-size: 24px;
  border-bottom: 1px solid #ddd;
}
.setting{
  overflow-y: hidden;
  width: 80%;
  margin: 0 auto;
  /*&-title{
    .title();
  }*/
  &-version{
    margin-right: 8px;
  }

  &-tabs{
    .ant-tabs-bar{
      width: 70%;
      margin: 20px auto 40px;
    }
    .ant-tabs-nav-scroll{
      padding-left: 20px;
    }
    .ant-tabs-nav-container{
      /*text-align: center;*/
    }
    .ant-tabs-nav{
      /*float: none;*/
    }
  }
}

.feedback{
  overflow-y: hidden;
  width: 80%;
  margin: 0 auto;
  &-title{
    .title();
  }
}

.commands {
  overflow-y: hidden;
  /*width: 80%;*/
  margin: 0 auto;

  &-title{
    .title();
    width: 100%;
  }
  &-detail{
    text-align: center;
    color: #f04134;
    margin-bottom: 0px;
  }
  &-table{
    margin-bottom: 20px;
  }
  &-submit{
    position: relative;
    top: 40px;
  }
}
