.title() {
  width: 500px;
  padding: 10px;
  margin: 20px auto 20px;
  text-align: center;
  font-size: 24px;
  border-bottom: 1px solid #ddd;
}
.setting{
  overflow-y: hidden;
  &-title{
    .title();
   /* width: 500px;
    padding: 10px;
    margin: 20px auto 20px;
    text-align: center;
    font-size: 24px;
    border-bottom: 1px solid #ddd;*/
  }
  &-version{
    margin-right: 8px;
  }

  /*.ui-form{
    &-item-grp{
      margin-left: 135px;
      margin-top: 10px;
    }
  }

  .ant-input-wrapper{
    .ant-input{
      width: 269px;
    }
  }*/
}

.feedback{
  overflow-y: hidden;
  &-title{
    .title();
    /*width: 500px;
    padding: 10px;
    margin: 20px auto 20px;
    text-align: center;
    font-size: 24px;
    border-bottom: 1px solid #ddd;*/
  }
}

.commands {
  overflow-y: hidden;
  /*height: 100%;*/
  width: 600px;
  margin: 0 auto;

  &-title{
    .title();
    width: 600px;
  }
  &-detail{
    text-align: center;
    color: #f04134;
    margin-bottom: 0px;
  }
  &-table{
    margin-bottom: 20px;
  }
  &-submit{
    position: relative;
    top: 40px;
    /*margin-top: 20px;*/
  }
}
