
@font-face {font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_btbtm61x8jltmx6r.eot?t=1485314674532'); /* IE9*/
  src: url('//at.alicdn.com/t/font_btbtm61x8jltmx6r.eot?t=1485314674532#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_btbtm61x8jltmx6r.woff?t=1485314674532') format('woff'), /* chrome, firefox */
  url('//at.alicdn.com/t/font_btbtm61x8jltmx6r.ttf?t=1485314674532') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_btbtm61x8jltmx6r.svg?t=1485314674532#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eraser:before { content: "\e618"; }

.icon-folder:before { content: "\e61f"; }

.icon-more:before { content: "\e633"; }

.icon-close:before { content: "\e69a"; }

.icon-delete:before { content: "\e69d"; }

.icon-project:before { content: "\e6a1"; }

.icon-add:before { content: "\e6b9"; }

.icon-stop:before { content: "\e669"; }

.icon-browse:before { content: "\e6e6"; }

.icon-start:before { content: "\e60f"; }

.icon-compare:before { content: "\e6ee"; }

