
@font-face {font-family: "iconfont";
  src: url('./font_poxrxb4d380ssjor.ttf?t=1488444530504'); /* IE9*/
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-folder:before { content: "\e6a1"; }

.icon-msnui-maximize:before { content: "\e6d6"; }

.icon-msnui-minimize:before { content: "\e6d7"; }

.icon-x:before { content: "\e62d"; }

.icon-code:before { content: "\e773"; }

.icon-similarproduct:before { content: "\e6f6"; }

.icon-compass:before { content: "\e71b"; }

.icon-import:before { content: "\e611"; }

.icon-clear:before { content: "\e6d1"; }

.icon-play:before { content: "\e6b0"; }

.icon-success:before { content: "\e6b3"; }

.icon-stop:before { content: "\e6b5"; }

