.ui-form{
  /*text-align: center;*/
  width: 500px;
  margin: 10px auto;

  .form-item{
    margin-bottom: 15px;
    text-align: left;
  }

  label{
    display: inline-block;
    width: 120px;
    text-align: right;
    margin-right: 15px;
    font-size: 14px;
    color: #666;
  }

  input{
    padding: 5px;
    height: 28px;
    border-radius: 3px;
    border: 1px solid #d9d9d9;
    color: #666;

    &:focus{
      border-color: #108ee9;
    }

    &.lg{
      width: 250px;
    }

    &.sm{
      width: 100px;
    }
  }

  .form-btns{
    margin-left: 135px;
  }
}