.ui-form{
  /*text-align: center;*/
  width: 500px;
  margin: 10px auto 0;

  .form-item{
    margin-bottom: 20px;
    text-align: left;

    &-grp{
      display: inline-block;
      width: 300px;
      vertical-align: middle;
    }
  }

  .form-label{
    display: inline-block;
    width: 120px;
    text-align: right;
    margin-right: 15px;
    font-size: 14px;
    color: #666;
    
    &-bk{
      display: block;
      width: 100%;
      margin-bottom: 4px;
    }
  }

  input{
    padding: 5px;
    height: 28px;
    border-radius: 3px;
    border: 1px solid #d9d9d9;
    color: #666;
    width: 200px;

    &:focus{
      border-color: #108ee9;
    }

    &.lg{
      width: 300px;
    }

    &.sm{
      width: 100px;
    }

    &.disabled{
      cursor: not-allowed;
      background-color: #eee;
    }
  }

  .checkbox-grp{
    display: inline-block;
    width: 300px;
    text-align: left;
    vertical-align: text-top;
    margin-top: -2px;

    .ant-checkbox-wrapper{
      display: block;
      width: 300px;
      text-align: left;
      margin-bottom: 10px;
    }

    .ant-checkbox-input{
      width: 300px;
    }
  }

  .ant-input-group-addon{
    cursor: pointer;
  }

  .form-btns{
    margin-left: 135px;
    margin-top: 20px;

    button{
      margin-right: 10px;
    }
  }

  input[type=radio]{
    width: 100px;
  }

  textarea{
    width: 300px;
    vertical-align: top;
    height: 80px;
    resize: none;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #d9d9d9;
    color: #666;

    &:focus{
      border-color: #108ee9;
    }
  }
}

.setting-form{
  padding: 0px 0px 10px 40px;
  max-height: 374px;
  overflow-y: auto;

  /*display: flex;*/
  /*flex-wrap: wrap;*/

  input{
    padding: 5px;
    height: 26px;
    border-radius: 3px;
    border: 1px solid #d9d9d9;
    color: #666;
    /*width: 200px;*/

    &:focus{
      border-color: #108ee9;
    }

    &.disabled{
      cursor: not-allowed;
      background-color: #eee;
    }
  }

  &-hr{
    height: 0px;
    border: none;
    /*border-top: 1px solid #eee;*/
  }

  &-item{
    display: inline-block;
    line-height: 50px;

    &.sm{
      /*flex: 1 0 200px;*/
      width: 320px;

      input{
        width: 175px;
      }
    }

    &.lg{
      width: 610px;
      input{
        width: 495px;
      }
    }

  }

  &-label{
    display: inline-block;
    width: 110px;
    font-size: 14px;
  }

  &-btns{
    margin-top: 15px;
  }
}