.new-proj{
	padding: 20px 0 0;

	.title{
		font-size: 18px;
		text-align: center;
	}

	.ant-steps{
		width: 570px;
		margin: 20px auto;
	}

	.cards-wrap{
		padding: 0 40px;
		height: 380px;
    overflow-y: auto;

		.empty{
			text-align: center;
	    color: #ddd;
	    font-size: 30px;
	    margin-top: 150px;
		}
	}
	
}

.progress-wrap{
  position: relative;
  text-align: center;
  height: 395px;
  padding-top: 20px;

  .detail{
    margin-top: 10px;
    line-height: 30px;
    color: #c6c6c6;

    button{
      margin: 0 5px;
    }
  }

  .terminal-wrap{
    position: fixed;
    bottom: 0;
    width: 725px;
    padding: 10px 20px 10px 10px;
    text-align: left;
    background-color: #254463;
    color: #fff;

    .clear-btn{
      position: absolute;
      right: 2px;
      top: 2px;
      cursor: pointer;
      font-size: 14px;
      color: #999;
    }

    .term-container{
      overflow-y: auto;
      transition: height .5s;
      word-break: break-all;
    }
  }
}

.custom-card{
	position: relative;
	float: left;
	width: 282px;
	margin: 10px 16px;
	/*border: 1px solid #d2eafb;*/
  /*background-color: #ecf6fd;*/
  background-color: #fbfbfb;
  border: 1px dashed #ddd;
  cursor: pointer;

  .card-body{
  	text-align: center;
    font-size: 34px;
    color: #108ee9;

    .content{
    	font-size: 14px;
    	/*color: #09488a;*/
    }
  }
}

.template-card{
	position: relative;
	float: left;
	width: 282px;
	margin: 10px 16px;
	/*border-radius: 0;*/

	.ant-card-head{
		height: 80px;
		border: 1px solid #d9d9d9;
		border-bottom: none;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}

	.ant-card-head-title{
		font-size: 16px;
		color: #666;
	}

	.ant-card-extra{
		top: 40px;
		left: 24px;
		color: #9b9b9b;
	}

	.ant-card-body{
		padding: 0;
		height: 35px;
	}

	.opt{
		width: 33.3%;
    height: 35px;

    &.more{
    	padding: 0 5px;
    }

    &.opt-lg {
    	width: 50%;
    }

    &.opt-mx {
    	width: 100%;
    }
	}

	&.disable{
		.ant-card-head{
			background-color: #eee;
		}
	}

	.ant-input-group.ant-input-group-compact{
		>:first-child{
			border-top-left-radius: 0px;
		}

		>:last-child{
			border-top-right-radius: 0px;
		}
	}
	.ant-select-selection__rendered{
		line-height: 34px;
	}

	.ant-select-selection--single{
		height: 35px;
	}

	.ant-select-selection-selected-value{
		text-align: center;
    width: 100%;
	}

	.update-btn{
		position: absolute;
    top: 15px;
    right: 7px;
    border-radius: 10px;
    background-color: #f50;
    border-color: #f15000;
    width: 50px;
    padding: 0px 0;
    font-size: 10px;

    i{
    	font-weight: bold;
    }
	}

	.close-btn {
  	position: absolute;
  	right: 10px;
  	top: 10px;
  	font-size: 16px;
  	color: #ddd;
  	font-weight: bold;
  	cursor: pointer;

  	&:hover{
  		color: #f46e65;
  	}
  }
	
}

.template-form {
  margin-top: 30px;
}
