.new-proj{
	padding: 20px 0 0;

	.title{
		font-size: 18px;
		text-align: center;
	}

	.ant-steps{
		width: 570px;
		margin: 20px auto;
	}

	.cards-wrap{
		padding: 0 40px;
	}

	.progress-wrap{
		position: relative;
		text-align: center;
		height: 395px;
		padding-top: 20px;

		.detail{
			margin-top: 10px;
    	line-height: 30px;
			color: #c6c6c6;

			button{
				margin: 0 5px;
			}
		}
	}

	.terminal-wrap{
		position: fixed;
		bottom: 0;
		width: 725px;
		padding: 10px 20px 10px 10px;
		text-align: left;
		background-color: #282828;
		
		color: #fff;
		

		.clear-btn{
			position: absolute;
			right: 2px;
			top: 2px;
	    cursor: pointer;
	    font-size: 14px;
			color: #999;
		}

		.term-container{
			overflow-y: auto;
			transition: height .5s;
		}
	}
}

.template-card{
	position: relative;
	float: left;
	width: 288px;
	margin: 20px 16px;
	border-radius: 0;

	.ant-card-head{
		height: 80px;
		border: 1px solid #d9d9d9;
		border-bottom: none;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}

	.ant-card-head-title{
		font-size: 16px;
		color: #666;
	}

	.ant-card-extra{
		top: 40px;
		left: 24px;
		color: #9b9b9b;
	}

	.ant-card-body{
		padding: 0;
		height: 35px;
	}

	.opt{
		width: 33.3%;
    height: 35px;

    &.more{
    	padding: 0 5px;
    }
	}

	.ant-input-group.ant-input-group-compact{
		>:first-child{
			border-top-left-radius: 0px;
		}

		>:last-child{
			border-top-right-radius: 0px;
		}
	}
	.ant-select-selection__rendered{
		line-height: 34px;
	}

	.ant-select-selection--single{
		height: 35px;
	}

	.ant-select-selection-selected-value{
		text-align: center;
    width: 100%;
	}

	.update-btn{
		position: absolute;
		position: absolute;
    top: 12px;
    right: 12px;
    border-radius: 10px;
    background-color: #ff5500;
    border-color: #f15000;

    i{
    	font-weight: bold;
    }
	}
	
}

/*.new-project{
	padding: 0px 20px 10px;
	margin-top: 26px;

	.title{
		margin-bottom: 10px;
		font-size: 18px;
		text-align: center;
		color: #0c60aa;
	}

	.steps-content{
		margin-top: 20px;
		max-height: 370px;
    overflow-y: auto;

		.ant-card-body{
			padding: 14px;
		}
	}

	.form-inline{
		padding: 10px 20px 0;
		max-height: 320px;
		overflow-y: auto;

		.addon{
			margin-left: 2px;
			padding: 0 4px;
			i{
				font-size: 10px;
				line-height: 1;
			}
			
		}

		.path{
			display: inline-block;
			max-width: 250px;
	    vertical-align: top;
	    word-break: break-all;
		}
	}

	.extends-form{
		width: 380px;
		margin-top: 20px;
		padding: 10px 20px 0 0;
		text-align: right;
		border: 1px dashed #ddd;
	}

	.form-btns{
		margin: 20px 0 0 150px;
	}

	.terminal-wrap{
		position: relative;
		width: 400px;
		height: 400px;
		border: 1px dashed #ccc;
    border-radius: 5px;
    padding: 5px;
    overflow-y: auto;
	}
}

.template-card{
	float: left;
	margin-bottom: 10px;
	width: 220px;

	&:nth-child(odd){
		margin-right: 20px;
	}

	.card-head{
		margin-bottom: 10px;
		border-bottom: 1px solid #ddd;
		padding-bottom: 10px;
		h3{
			font-size: 16px;
		}
		p{
			color: #999;
		}
	}

	.version{
		label{
			margin-right: 5px;
		}

		.update-btn{
			margin-left: 2px;

			i{
				font-size: 10px;
			}
		}

		.create-btn{
			float: right;
		}
	}
}*/

