.new-project{
	padding: 0px 20px 10px;

	.title{
		margin-bottom: 10px;
		font-size: 18px;
		text-align: center;
		color: #0c60aa;
	}

	.steps-content{
		margin-top: 20px;
		max-height: 400px;
    overflow-y: auto;

		.ant-card-body{
			padding: 14px;
		}
	}

	.form-inline{
		padding: 10px 20px 0;

		.addon{
			margin-left: 2px;
			padding: 0 4px;
			i{
				font-size: 10px;
				line-height: 1;
			}
			
		}

		.path{
			display: inline-block;
			max-width: 250px;
	    vertical-align: top;
	    word-break: break-all;
		}
	}

	.extends-form{
		width: 380px;
		margin-top: 20px;
		padding: 10px 20px 0 0;
		text-align: right;
		border: 1px dashed #ddd;
	}

	.form-btns{
		margin: 20px 0 0 100px;
	}

	.terminal-wrap{
		position: relative;
		width: 400px;
		height: 400px;
		border: 1px dashed #ccc;
    border-radius: 5px;
    padding: 5px;
    overflow-y: auto;
	}
}

.template-card{
	float: left;
	margin-bottom: 10px;
	width: 220px;

	&:nth-child(odd){
		margin-right: 20px;
	}

	.card-head{
		margin-bottom: 10px;
		border-bottom: 1px solid #ddd;
		padding-bottom: 10px;
		h3{
			font-size: 16px;
		}
		p{
			color: #999;
		}
	}

	.version{
		label{
			margin-right: 5px;
		}

		.update-btn{
			margin-left: 2px;
			/*color: #999;*/

			i{
				font-size: 10px;
			}
		}

		.create-btn{
			float: right;
		}
	}
}

