.proj-list{

	header{
		flex: 1;
		padding: 0 10px 0 16px;
		font-size: 18px;
		height: 50px;
		line-height: 50px;

		.ant-btn-sm{
			float: right;
			margin-top: 16px;
			margin-left: 6px;
			/*color: #aaa;*/

			i{
				font-size: 12px;
			}
		}
	}

	.item-list{
		min-height: 426px;
		overflow-y: auto;
	}

	.item{
		position: relative;
		padding: 6px 2px 6px 16px;
		cursor: pointer;
		border-right: 2px solid #fff;

		.name{
			margin-left: 18px;
			font-size: 12px;
			line-height: 24px;
			color: #666;
		}

		.ant-badge{
			position: absolute;
			top: 9px;
		}

		&:hover{
			.name{
				color: #108ee9;
			}
		}
		
		&-active{
			background-color: #eaf7fe;
			border-color: #2db7fa;
			/*transition: background-color .5s;*/
			/*transform: translateZ(0);*/
			transition: background-color .5s;
		}

		.anticon-down{
			float: right;
			margin-top: 6px;
	    margin-right: 4px;
	    font-size: 10px;
	    color: #aaa;
		}
	}
}



