.project-detail{
	padding: 0 20px 0;
  margin-top: 26px;
	.header{
		background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 20px;
	}

	.btn-grp{
		float: right;
	}

	.terminal-wrap{
		position: relative;
		width: 460px;
		height: 310px;
		border: 1px dashed #ccc;
    border-radius: 5px;
    padding: 5px;
    overflow-y: auto;

    .clear-btn{
    	position: absolute;
    	top: 2px;
    	right: 2px;
    }
	}
}
