.proj-detail{
  position: relative;

  .opt-grp{
    position: absolute;
    height: 64px;
    top: 0;
    padding: 5px 20px 10px 0px;
    text-align: center;

    .opt{
      float: left;
      width: 60px;
      margin-right: 10px;
      color: #9b9b9b;
      line-height: 1.3;
      cursor: pointer;

      &:hover{
        color: #108ee9;
        transition: color .5s;
      }

      &.disable{
        color: #ddd;
        /*cursor: not-allowed;*/
      }
    }

    .iconfont{
      font-size: 30px;
    }
  }

  .cnl-wrap{
    display: flex;
  }

  .terminal-wrap{
    position: relative;
    height: 424px;
    /*overflow-y: auto;*/
    font-size: 12px;
    padding: 10px;
    background-color: #254463;
    color: #fff;
    margin: 10px;
    /*border-radius: 4px;*/
    
    &.has-side{
      width: 500px;
    }
  }

  .term-wrap{
    overflow-y: auto;
    max-height: 370px;
    margin-top: 10px;
    word-break: break-all;
  }

  .clear-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    border-color: #7899b9;
    color: #7899b9;

    &:hover{
      border-color: #d0e7ff;
      color: #d0e7ff;
      transition: all .2s;
    }
  }

  .ant-spin-nested-loading{
    height: 100%;
    >div>.ant-spin{
      max-height: 100%;
    }
    .ant-spin-container{
      height: 100%;
    }
  }

  .ant-spin-blur{
    height: 100%;
  }
  /*.ant-spin-nested-loading>div>.ant-spin{
    max-height: 100%;
  }*/
}

.detail-tabs{
  top: 30px;
  height: 480px;


  .ant-tabs-nav-wrap{
    float: right;
  }
  .ant-tabs-nav{
    margin-right: 30px;

    .ant-tabs-tab{
      margin-right: 10px;
    }
  }

  .ant-tabs-bar{
    margin-bottom: 0;
  }

  /*.ui-form{
    margin-top: 30px;
  }*/
}

.terminal-tabs{
  background-color: #254463;
  color: #fff;
 
  .tabs-item{
    display: inline-block;
    padding: 2px 10px;
    margin-right: 10px;
    background-color: #3a5979;
    color: #7899b9;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;

    &:hover,
    &.active{
      color: #d0e7ff;
      transition: color .5s;
    }
  }
  .ant-select-selection{
    background-color: #3a5979;
    border-color: #3a5979;
    color: #d0e7ff;
    border-radius: 10px;
    height: 24px;
  }
  .ant-select-selection__placeholder{
    color: #7899b9;
  }

  .ant-select-selection__rendered{
    line-height: 22px;
  }
}

.set-tabpane{
  height: 444px;
  background-color: #f5f5f5;
  padding: 10px;
}

.setting {
  position: relative;

  .del-btn{
    position: absolute;
    right: 0;
    top: 3px;
  }

  .help-btn{
    float: right;
    margin: 0 20px;
    i{
      font-size: 16px;
    }
  }

  &-tabs {
    /*float: none;*/
    &.ant-tabs-card{

      .ant-tabs-bar{
        border-bottom: none;

        .ant-tabs-tab{
          border: none;
          background-color: #eee;
          &:hover{
            color: #09488a;
          }
        }

        .ant-tabs-tab-active{
          background: #fff;
          color: #0e77ca;
        }
      }
    }
    .ant-tabs-nav-wrap{
      float: none;
    }

    .ant-tabs-tabpane{
      height: 390px;
      padding-top: 10px;
      background: #fff;
      /*border: 1px solid #d8d8d8;
      border-top: none;*/
    }
  }

  .ui-form {
    width: 600px;
  }
}

.package-wrap{
  width: 674px;
  margin: 0px auto ;

  .udt-btn{
    padding: 0;
    margin-right: 4px;
  }

  .input-grp{
    float: right;
  }
}

