.container{
	height: 100%;
	background-color: #fff;
}

.ui-sider{
	height: 100%;
	width: 175px;
	border-right: 1px solid #eee;
	background-color: #fff;
}

.ui-content{
	background-color: #fff;
}

.ui-foot{
	text-align: right;
	height: 34px;

	.ant-btn{
		font-size: 16px;
		border-color: transparent;
		margin-right: 4px;
		color: #aaa;
	}
}

.top-bar{
	-webkit-app-region: drag;
	position: relative;
	background-color: #fff;
	height: 40px;
	line-height: 40px;
	overflow-y: hidden;

	.bar-bd{
		position: absolute;
		width: 175px;
		height: 40px;
		top: 0;
		left: 0;
		border-right: 1px solid #eee;
		border-bottom: 1px solid #eee;
	}

	.proj-info{
		position: absolute;
		left: 192px;
		font-size:14px;
		&-name{
			color:#666;
		}

		&-dir{
			font-size:12px;
			color:#c6c6c6;
			margin-left: 8px;
		}

		&-status {
			color: #fff;
			font-size: 11px;
			border-radius: 4px;
			margin-left: 10px;
			padding: 3px 6px;
			&.start {
				background-color: #87d068;
			}

			&.stop {
				background-color: #d9d9d9;
			}
		}
	}

	.logo{
		-webkit-app-region: no-drag;
		position: absolute;
		display: block;
    top: 8px;
		width: 24px;
		height: 24px;
		background-image: url('../images/gray-logo.png');
		background-size: 24px 24px;
		background-repeat: no-repeat;
		border-radius: 5px;
		cursor: pointer;

		&:hover{
			cursor: pointer;
			background-image: url('../images/blue-logo.png');
			transition: background .2s;
		}
	}

	.wifi{
		position: absolute;

		i{
			font-size: 26px;
			color: #e1e1e1;
		}

		&.online{
			i{
				color: #108ee9;
			}
		}
	}

	
}

.set-modal{
	.ui-form{
		.form-item-grp{
			margin-left: 132px;
			margin-top: 10px;
		}

		.ant-input{
			width: 253px;
		}

		.ant-input-wrapper{
			width: 250px;
			.ant-input{
				width: 222px;
			}
		}
	}

	.version{
		margin-right: 5px;
	}
}

.update-tip{
	padding-left: 15px;
	max-height: 250px;
	overflow-y: auto;	
	li{
		list-style: disc;
	}
}

.ant-table-tbody>tr>td, .ant-table-thead>tr>th{
	padding: 8px;
}

.ant-table-small .ant-table-thead>tr>th{
	border-bottom: none;
}

@import './form.less';
@import './welcome.less';
@import './new-project.less';
@import './project-list.less';
@import './project-detail.less';
@import './project-cmd.less';



